*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
 background: #282828;
 color: inherit;
 width: 100%;
 height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


 .thumbs-wrapper {
     width: 100%;
     display: flex !important;
     justify-content: space-between !important;
 }
.thumbs-wrapper .thumb {
    width: fit-content;
    height: 50px;
    
}